@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Archivo+Black&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@media all and (max-width: 949px){
    .container{
        width: 90%;
    }
  }

body{
    background-color: black;
    color: white;
}

.container{
    background-color: #1b1a1a;
    width: 950px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
}

  @media all and (max-width: 600px){
    body {
        background-color: white;
        color : Black
    }
    .container{
        background-color: white;
        color : Black
    }
    a{
    color: black;
    }
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos{
    font-family: 'DM Sans', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 80px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 15px;
    border-style: dotted;
    border-width: 3px;
    border-color: rgb(24, 211, 24)

}

header h1{
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 5px;
    word-spacing: 10px;
    padding: 0;
    margin: 0;
}

header h2{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    color: rgb(24, 211, 24);
    padding: 0;
    margin: 0;
}

nav{
    font-family: 'DM Sans', monospace;
    display: inline-block;
    text-decoration: none;
    font-size: 18pt;
    word-spacing: 100px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(24, 211, 24);
    padding-bottom:20px ;
}

nav :first-child{
    word-spacing: 2px;
}

nav a:hover {
	color: rgb(24, 211, 24);
}

.main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 10px;
}

.main1_p{
    font-family: 'DM Sans', monospace;
    font-weight: 200;
    width: 800px;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.main2{
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: center;
    
}

button{
    background-color: rgb(24, 211, 24);
    border-radius: 15px;
    border: 2px solid;
    font-size: large;
    font-family: 'Source Code Pro', monospace;
}

button a{
    color: black;
}


h4{
    font-family: 'DM Sans', monospace;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 10px;
    color: rgb(251, 251, 251);
}

img{
    border : 2px solid rgb(24, 211, 24);
    border-style: dotted;
    border-radius: 10px;
    opacity: 0.8;
    max-width: 100%;
    height: auto;
   }

img:hover{
    opacity: 1;
 }

img:nth-child(5){
    filter: grayscale(100%);
}
   
h5{
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 10px;
    color: rgb(251, 251, 251);
}


footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
}

    
.lastfooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    padding: 20;
}

.icones{
    margin: 30px;
    width: 7%;
}

.label{
    font-family: 'Source code Pro', monospace ;
    font-size: x-large;
    color:rgb(24, 211, 24) ;
}

.input{
    width: 500px;
    height: 50px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(24, 211, 24)
}

#message {
    width: 500px;
    height: 200px;
    margin: 20px;
    margin-bottom: 0;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(24, 211, 24)
}

#lastbut{
    padding: 12px;
}